
{% extends 'base.html' %}
{% block body %}

<form  method="post">
  <table>
    <tr>
      <td> Loan Amount: </td> <td> <input type="text" name="Amount" /> </td>
    </tr>
    <tr>
      <td> Number of payments per year: </td> <td> <input type="text" name="nperiod" /> </td>
	</tr>
	<tr>
		<td> Number of years: </td> <td> <input type="text" name="nyears" /> </td>
	  </tr>
	<tr>
		<td> Annual Interest Rate: </td> <td> <input type="text" name="interest" /> </td>
	  </tr>
  </table>
    <br>
  <input class="button" type="submit" formaction="/calculate" value="Calculate" />
</form>

<p> {{ display }} </p>
<div style="clear:both;"></div>
{% endblock %}